[Unit]
Description=selfhost pastebin
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=prateek
ExecStart=/home/prateek/bin.sh

[Install]
WantedBy=multi-user.target
